@page
@model HonorSystem.Pages.Droppeditemsrequests.DeleteModel

@{
    ViewData["Title"] = "Delete Droppeditemsrequest";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare @Html.DisplayFor(model => model.Droppeditemsrequest.IdMemberNavigation.Name)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Droppeditemsrequest.IdMemberNavigation.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Droppeditemsrequest.IdMemberNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Droppeditemsrequest.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Droppeditemsrequest.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Droppeditemsrequest.IdLeftItemInGuildStorageNavigation.IdItemNavigation.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Droppeditemsrequest.IdLeftItemInGuildStorageNavigation.IdItemNavigation.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Droppeditemsrequest.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Droppeditemsrequest.Reason)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Droppeditemsrequest.IdDroppedItemsRequests" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-page="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
    </form>
</div>
