@page
@model HonorSystem.Pages.Droppeditemsrequests.DeleteModel

@{
    ViewData["Title"] = "Delete Droppeditemsrequest";
}

<h1>Delete Droppeditemsrequest</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Droppeditemsrequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Droppeditemsrequest.IdMemberNavigation.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Droppeditemsrequest.IdMemberNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Droppeditemsrequest.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Droppeditemsrequest.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Droppeditemsrequest.IdLeftItemInGuildStorageNavigation.IdItemNavigation.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Droppeditemsrequest.IdLeftItemInGuildStorageNavigation.IdItemNavigation.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Droppeditemsrequest.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Droppeditemsrequest.Reason)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Droppeditemsrequest.IdDroppedItemsRequests" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
