@page
@model HonorSystem.Pages.Members.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.CharacterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.CharacterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.SecondaryCharacterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.SecondaryCharacterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.JoinDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.JoinDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.IsStillInGuild)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.IsStillInGuild)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member?.IdMembers">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
