@page
@model HonorSystem.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Members";
}

<h1>Membri</h1>

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Crea Membro</a>
</div>

<div class="table-responsive">
    <table id="memberTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;">
                    ID
                </th>
                <th>
                    Nome Giocatore
                </th>
                <th>
                    Nome Personaggio Prima Gilda
                </th>
                <th>
                    Nome Personaggio Seconda Gilda
                </th>
                <th>
                    Data ingresso gilda
                </th>
                <th>
                    È attivo
                </th>
                <th>
                    È ancora in gilda
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Member)
            {
                <tr>
                    <td style="text-align: center;">
                        @item.IdMembers
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.CharacterName
                    </td>
                    <td>
                        @item.SecondaryCharacterName
                    </td>
                    <td>
                        @item.JoinDate?.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @if (item.IsActive == 1)
                        {
                            <i class="bi bi-check-circle-fill" style="color: green;"></i> <!-- Vero -->
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" style="color: red;"></i> <!-- Falso -->
                        }
                    </td>
                    <td>
                        @if (item.IsStillInGuild == 1)
                        {
                            <i class="bi bi-check-circle-fill" style="color: green;"></i> <!-- Vero -->
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" style="color: red;"></i> <!-- Falso -->
                        }
                    </td>

                    <td style="width: auto;">
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.IdMembers" data-bs-toggle="tooltip"
                           title="Modifica"><i class="bi bi-pencil-square"></i></a>

                        <a asp-page="./Details" class="btn btn-secondary" asp-route-id="@item.IdMembers"
                           data-bs-toggle="tooltip" title="Dettagli"><i class="bi bi-eye"></i></a>

                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.IdMembers"
                           data-bs-toggle="tooltip" title="Elimina"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


<script>

    window.onload = function() {
        $('#memberTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true
        });
    };
</script>
