@page
@model HonorSystem.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Members";
}

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Bottone che ha aperto il modale
        var memberId = button.getAttribute('data-id');
        var memberName = button.getAttribute('data-name');

        // Aggiorna il modale con i dati corretti
        document.getElementById("deleteMemberId").value = memberId;
        document.getElementById("memberName").textContent = memberName;
    });
</script>

<script>
    window.onload = function () {
        $('#memberTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true
        });
    };
</script>

<h1>Membri di Gilda</h1>

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Crea Membro</a>
</div>

<div class="table-responsive">
    <table id="memberTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome Giocatore</th>
                <th>ID Discord 1° Account</th>
                <th>ID Discord 2° Account</th>
                <th>Data ingresso gilda</th>
                <th>Attivo</th>
                <th>In gilda</th>
                <th>Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Member)
            {
                int counter = Model.Member.IndexOf(item) + 1;
                <tr>
                    <td style="text-align: center;">@counter</td>
                    <td style="text-align: center;">@item.Name</td>
                    <td style="width: auto; font-size: smaller; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">@item.CharacterName</td>
                    <td style="width: auto; font-size: smaller; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">@item.SecondaryCharacterName</td>
                    <td style="text-align: center;">@item.JoinDate?.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (item.IsActive == 1)
                        {
                            <i class="bi bi-check-circle-fill" style="color: green;"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" style="color: red;"></i>
                        }
                    </td>
                    <td>
                        @if (item.IsStillInGuild == 1)
                        {
                            <i class="bi bi-check-circle-fill" style="color: green;"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" style="color: red;"></i>
                        }
                    </td>
                    <td>
                        @item.JoinDate?.ToString("dd/MM/yyyy")
                    </td>

                    <td style="width: auto;">
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.IdMembers" data-bs-toggle="tooltip"
                           title="Modifica"><i class="bi bi-pencil-square"></i></a>

                        <a asp-page="./Details" class="btn btn-secondary" asp-route-id="@item.IdMembers"
                           data-bs-toggle="tooltip" title="Dettagli"><i class="bi bi-eye"></i></a>

                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.IdMembers"
                           data-bs-toggle="tooltip" title="Elimina"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
