@page
@model HonorSystem.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Members";
}

<h1>Membri</h1>

<div class="form-group">
<a asp-page="Create" class="btn btn-primary">Crea Membro</a>
</div>

<div class="table-responsive">
    <table id="memberTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nome Giocatore
                </th>
                <th>
                    Nome Personaggio Prima Gilda
                </th>
                <th>
                    Nome Personaggio Seconda Gilda
                </th>
                <th>
                    Data ingresso gilda
                </th>
                <th>
                    È attivo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Member) {
                <tr>
                    <td>
                        @item.IdMembers
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.CharacterName
                    </td>
                    <td>
                        @item.SecondaryCharacterName
                    </td>
                    <td>
                        @item.JoinDate
                    </td>
                    <td>
                        @((item.IsActive == 1) ? "Si" : "No")
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.IdMembers">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.IdMembers">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.IdMembers">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


<script>
    
    window.onload = function() {
        $('#memberTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true
        });
    };
</script>
