@page
@model HonorSystem.Pages.Classifica.IndexModel

@{
    ViewData["Title"] = "Classifica";
}

<!-- Datatable -->
<script>
    window.onload = function() {
        $('#tableClassifica').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "language": {
                "lengthMenu": "Mostra _MENU_ righe per pagina",
                "search": "Cerca:",
                "info": "Mostra da _START_ a _END_ di _TOTAL_ righe",
                "infoEmpty": "Nessuna riga disponibile",
                "paginate": {
                    "next": "Avanti",
                    "previous": "Indietro"
                }
            }
        });
    };
</script>

<h1>Classifica</h1>
<hr />

<div class="table-responsive" style="padding-left: 10px; padding-right: 10px;">
    <table id="tableClassifica" class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Totale Punti
                </th>
                @* <th></th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Classificas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.TotalePunti
                    </td>
                    @* <td style="width: auto;">
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.Name" data-bs-toggle="tooltip"
                           title="Modifica"><i class="bi bi-pencil-square"></i></a>

                        <a asp-page="./Details" class="btn btn-secondary" asp-route-id="@item.Name"
                           data-bs-toggle="tooltip" title="Dettagli"><i class="bi bi-eye"></i></a>

                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Name"
                           data-bs-toggle="tooltip" title="Elimina"><i class="bi bi-trash-fill"></i></a>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>

