@page
@model HonorSystem.Pages.ItemRequests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Itemrequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itemrequest.IsSupplied)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itemrequest.IsSupplied)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itemrequest.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itemrequest.Item.IdItem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itemrequest.Player)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itemrequest.Player.IdMembers)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Itemrequest?.IdItemRequest">Salva</a>
    <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
</div>
