@page
@model HonorSystem.Pages.ItemRequests.IndexModel
@{
    ViewData["Title"] = "Item Requests";
}

<!-- Datatable -->
<script>
    window.onload = function () {
        $('#itemRequestTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "pageLength": 25,
            "language": {
                "lengthMenu": "Mostra _MENU_ righe per pagina",
                "search": "Cerca:",
                "info": "Mostra da _START_ a _END_ di _TOTAL_ righe",
                "infoEmpty": "Nessuna riga disponibile",
                "paginate": {
                    "next": "Avanti",
                    "previous": "Indietro"
                }
            }
        });
    };
</script>

<h2>Richieste Item</h2>
<hr />

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Inserisci Item Request</a>
</div>

<div class="table-responsive" style="padding-left: 10px; padding-right: 10px;">
    <table id="itemRequestTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Player</th>
                <th>Distribuito</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Itemrequest)
            {
                <tr>
                    <td>@item.IdItemRequest</td>
                    <td>@item.Item?.ItemName</td>
                    <td>@item.Player?.Name</td>
                    <td>
                        @if (item.IsSupplied == 1)
                        {
                            <i class="bi bi-check-circle-fill" style="color: green;"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" style="color: red;"></i>
                        }
                    </td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.IdItemRequest"
                            data-bs-toggle="tooltip" title="Modifica"><i class="bi bi-pencil-square"></i></a>
                        <a asp-page="./Details" class="btn btn-secondary" asp-route-id="@item.IdItemRequest"
                            data-bs-toggle="tooltip" title="Dettagli"><i class="bi bi-eye"></i></a>
                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.IdItemRequest"
                            data-bs-toggle="tooltip" title="Elimina"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
