@page
@model HonorSystem.Pages.HonorEntryTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli</h1>
<h4>@Html.DisplayFor(model => model.Honorentrytype.Type)</h4>
<hr />

<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentrytype.Type)
        </dd>
        <dt class="col-sm-2">
            Punti
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentrytype.DefaultPoints)
        </dd>
        <dt class="col-sm-2">
            Descrizione
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentrytype.Description)
        </dd>
        <dt class="col-sm-2">
            Scadenza
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentrytype.Expiration)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Honorentrytype?.IdHonorEntryType">Salva</a>
    <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
</div>
