@page
@model HonorSystem.Pages.Items.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare @Html.DisplayFor(model => model.Item.ItemName)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Tier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Tier == 0 ? "Archboss" : model.Item.Tier == 1 ? "T1" : model.Item.Tier == 2 ? "T2" : "Unknown")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.IdBossNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.IdBossNavigation.BossName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Item.IdItem" />
        <input type="submit" value="Elimina" class="btn btn-danger" />
        <a asp-page="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
    </form>
</div>
