@page
@model HonorSystem.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.IdBossNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.IdBossNavigation.IdBoss)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Item?.IdItem">Salva</a>
    <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
</div>
