@page
@model HonorSystem.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Items";
}

<h1>Item</h1>

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Crea Item</a>
</div>

<div class="table-responsive">
    <table id="itemTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Boss Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item)
            {
                <tr>
                    <td>
                        @item.IdItem
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.IdBossNavigation?.BossName
                    </td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.IdItem" data-bs-toggle="tooltip"
                            title="Modifica"><i class="bi bi-pencil-square"></i></a>
                        <a asp-page="./Details" class="btn btn-secondary" asp-route-id="@item.IdItem"
                            data-bs-toggle="tooltip" title="Dettagli"><i class="bi bi-eye"></i></a>
                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.IdItem" data-bs-toggle="tooltip"
                            title="Elimina"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    window.onload = function () {
        $('#itemTable').DataTable({
            "paging": true,  // Attiva la paginazione
            "searching": true,  // Abilita la ricerca
            "ordering": true,  // Abilita l'ordinamento
            "pageLength": 25,  // Imposta il numero di righe per pagina (puoi cambiare questo valore)
            "lengthMenu": [5, 10, 25, 50, 100],  // Opzioni per le righe per pagina (es. 5, 10, 25, 50, 100)
            "pagingType": "full_numbers",  // Tipo di paginazione (numeri completi)
            "language": {
                "lengthMenu": "",
                "info": "",
                "search": "Cerca:"
            }
        });
    };
</script>

