@page
@model HonorSystem.Pages.HonorEntry.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>
<h3>Sei sicuro di voler eliminare i punti del player?</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Honorentry.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentry.EntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Honorentry.AssignedPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentry.AssignedPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Honorentry.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentry.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Honorentry.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentry.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Honorentry.HonorEntryType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentry.HonorEntryType.IdHonorEntryType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Honorentry.Player)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Honorentry.Player.IdMembers)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Honorentry.IdHonorEntry" />
        <input type="submit" value="Elimina" class="btn btn-danger" />
        <a asp-page="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
    </form>
</div>
