@page
@model HonorSystem.Pages.HonorEntry.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>HonorEntry</h1>

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Crea HonorEntry</a>
    <a asp-page="BulkInsert" class="btn btn-primary">Bulk Insert</a>
</div>


<div class="table-responsive">
    <table id="honorEntryTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nome Giocatore
                </th>
                <th>
                    Punti Assegnati
                </th>
                <th>
                    Data Inserimento
                </th>
                <th>
                    Data Scadenza
                </th>
                <th>
                    Descrizione
                </th>
                <th>
                    Tipo HonorEntry
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Honorentry)
            {
                <tr>
                    <td>
                        @item.IdHonorEntry
                    </td>
                    <td>
                        @item.Player?.Name
                    </td>
                    <td>
                        @item.AssignedPoints
                    </td>
                    <td>
                        @item.EntryDate
                    </td>
                    <td>
                        @item.ExpirationDate
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.HonorEntryType?.Type
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.IdHonorEntry">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.IdHonorEntry">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.IdHonorEntry">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script>

    window.onload = function () {
        $('#honorEntryTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true
        });
    };
</script>