@page
@model HonorSystem.Pages.LeftItemInGuildStorage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leftiteminguildstorage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leftiteminguildstorage.DropDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leftiteminguildstorage.DropDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leftiteminguildstorage.CurrentPriceInLucent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leftiteminguildstorage.CurrentPriceInLucent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leftiteminguildstorage.IdHonorEntryNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leftiteminguildstorage.IdHonorEntryNavigation.IdHonorEntry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leftiteminguildstorage.IdItemNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leftiteminguildstorage.IdItemNavigation.IdItem)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Leftiteminguildstorage?.Id">Salva</a> |
    <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
</div>
