@page
@model HonorSystem.Pages.LeftItemInGuildStorage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli</h1>
<hr />

<div>
    <dl class="row custom-container-sidebar col-auto">
        <dt class="col-md-3 col-sm-4"> <!-- Colonna più larga per dispositivi medi -->
            @Html.DisplayNameFor(model => model.Leftiteminguildstorage.DropDate)
        </dt>
        <dd class="col-md-9 col-sm-8">
            @Html.DisplayFor(model => model.Leftiteminguildstorage.DropDate)
        </dd>
        
        <dt class="col-md-3 col-sm-4">
            @Html.DisplayNameFor(model => model.Leftiteminguildstorage.CurrentPriceInLucent)
        </dt>
        <dd class="col-md-9 col-sm-8">
            @Html.DisplayFor(model => model.Leftiteminguildstorage.CurrentPriceInLucent)
        </dd>
        
        <dt class="col-md-3 col-sm-4">
            @Html.DisplayNameFor(model => model.Leftiteminguildstorage.IdHonorEntryNavigation)
        </dt>
        <dd class="col-md-9 col-sm-8">
            @Html.DisplayFor(model => model.Leftiteminguildstorage.IdHonorEntryNavigation.IdHonorEntry)
        </dd>
        
        <dt class="col-md-3 col-sm-4">
            @Html.DisplayNameFor(model => model.Leftiteminguildstorage.IdItemNavigation)
        </dt>
        <dd class="col-md-9 col-sm-8">
            @Html.DisplayFor(model => model.Leftiteminguildstorage.IdItemNavigation.IdItem)
        </dd>

    <div>
    <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
    </div>
    </dl>
</div>
