@page
@model HonorSystem.Pages.LeftItemInGuildStorage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Datatable -->
<script>
    window.onload = function() {
        $('#leftItemInGuildStorageTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "language": {
                "lengthMenu": "Mostra _MENU_ righe per pagina",
                "search": "Cerca:",
                "info": "Mostra da _START_ a _END_ di _TOTAL_ righe",
                "infoEmpty": "Nessuna riga disponibile",
                "paginate": {
                    "next": "Avanti",
                    "previous": "Indietro"
                }
            }
        });
    };
</script>

<h1>Item in Distribution</h1>
<hr />

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Inserisci Item</a>
</div>

<div class="table-responsive" style="padding-left: 10px; padding-right: 10px;">
    <table id="leftItemInGuildStorageTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Data Drop
                </th>
                <th>
                    Prezzo Corrente (Lucent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].IdHonorEntryNavigation)
                </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Leftiteminguildstorage)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdItemNavigation.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DropDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentPriceInLucent)
                    </td>
                    <td>
                        @{ 
                            if (item.IdHonorEntryNavigation != null)
                                @Html.DisplayFor(modelItem => item.IdHonorEntryNavigation.IdHonorEntry)
                            else
                                @Html.Raw(" - ")
                        }
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
</div>
