@page
@model HonorSystem.Pages.LeftItemInGuildStorage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Crea Item</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].DropDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].CurrentPriceInLucent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].IdHonorEntryNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].IdItemNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Leftiteminguildstorage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DropDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPriceInLucent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHonorEntryNavigation.IdHonorEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdItemNavigation.IdItem)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
