@page
@model HonorSystem.Pages.LeftItemInGuildStorage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<script>
    window.onload = function() {
        $('#leftItemInGuildStorageTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true
        });
    };
</script>

<h1>Item Droppati</h1>

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Crea Item</a>
</div>

<div class="table-responsive">
    <table id="leftItemInGuildStorageTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].DropDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].CurrentPriceInLucent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].IdHonorEntryNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leftiteminguildstorage[0].IdItemNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
    <tbody>
    @foreach (var item in Model.Leftiteminguildstorage)
    {
        <tr>
            <td>
                @item.DropDate
            </td>
            <td>
                @item.CurrentPriceInLucent
            </td>
            <td>
                @item.IdHonorEntryNavigation
            </td>
            <td>
                @item.IdItemNavigation
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.Id" data-bs-toggle="tooltip"
                    title="Modifica"><i class="bi bi-pencil-square"></i></a>
                <a asp-page="./Details" class="btn btn-secondary" asp-route-id="@item.Id" data-bs-toggle="tooltip"
                    title="Dettagli"><i class="bi bi-eye"></i></a>
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id" data-bs-toggle="tooltip"
                    title="Elimina"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
