@page
@model HonorSystem.Pages.Bosses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare @Html.DisplayFor(model => model.Boss.BossName)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boss.BossName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boss.BossName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boss.IsField)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boss.IsField)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boss.IsArch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boss.IsArch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boss.IsGuild)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boss.IsGuild)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Boss.IdBoss" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> 
        <a asp-page="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
    </form>
</div>
